@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Pixels&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;
}

.text-gradient {
    background: linear-gradient(to top, #099747, #85DB47);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

.border-gradient {
    border-width: 0px 0px 8px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, #099747, #85DB47) 1;
  }
  
  